<!--<section class ="manage-account-panel">-->
<article class="account-manage">
    <p class="account-manage-element"><a href="/account/see?email='{EMAIL_USER}'">{EMAIL_USER}</a></p>
    <p class="account-manage-element">{ROLE}</p>
    <p class="account-manage-element">{BALANCE} </p>
<!--    <a class="button-delete">{DELETE}</a>-->
<!--    <form method="POST" action="/user/delete-account" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement votre compte ?');">
        <button type="submit" class="button-delete">DELETE</button>
    </form>-->

    <form method="POST" action="/user/delete-account" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer définitivement votre compte ?');">
        <input type="hidden" name="remove-account" value="{EMAIL_USER}"/>
        <input type="submit" name="delete-email" class="button-delete" value="DELETE"/>
    </form>
</article>
<!--</section>-->