<!--
the admin must see all the offers, account, message, transaction
the admin can delete, edit, create offer, account, message, balance
-->
<section class="admin-panel-container">
<!--    Panneau d'Administration -->
    <h1 class="admin-panel-title">WIP</h1>
    <div class="admin-panel-option">
        <a href="/admin/users" class="sidebar-link">Gérer les utilisateurs</a>
        <a href="/admin/offers" class="sidebar-link">Gérer les offres</a>
        <a href="/admin/transactions" class="sidebar-link">Gérer les transactions</a>
    </div>
        {ACCOUNTS}
</section>