<!--
the admin must see all the offers, account, message, transaction
the admin can delete, edit, create offer, account, message, balance
-->
<section class="admin-panel-container">
<!--    Panneau d'Administration -->
    <h1 class="admin-panel-title">Panneau d'Administration</h1>
    <div class="admin-panel-option">
        <button class="admin-option-button" id="account-button">Gérer les utilisateurs</button>
        <button class="admin-option-button" id="offer-button">Gérer les offres</button>
        <button class="admin-option-button" id="transaction-button">Gérer les transactions</button>
    </div>
    <section class="manage-account-panel">
        {ACCOUNTS}
    </section>
    <section class="manage-offer-panel">
        {OFFERS}
    </section>
    <section class="manage-transaction-panel">
        {TRANSACTIONS}
    </section>
</section>

<script>
    // TODO : refactor this script in a .js file, in /_assets/scripts/adminPanel.js
    // scrip for switch between the different admin panel options (users, offers, transactions)
    document.addEventListener('DOMContentLoaded', function (){
        // Select the panels, by using their CSS class name
        const adminAccount = document.querySelector('.manage-account-panel');
        const adminOffer = document.querySelector('.manage-offer-panel');
        const adminTransaction = document.querySelector('.manage-transaction-panel');
        // Select the buttons, by using their id
        const userButton = document.querySelector('#account-button');
        const offerButton = document.querySelector('#offer-button');
        const transactionButton = document.querySelector('#transaction-button');

        // Function that show the selected panel and hide the others
        /**
         * Set the display of adminAccount to 'flex' and the others to 'none'
         */
        function showAccounts() {
            adminAccount.style.display = 'flex';
            adminOffer.style.display = 'none';
            adminTransaction.style.display = 'none';
        }
        /**
         * Set the display of adminOffer to 'flex' and the others to 'none'
         */
        function showOffers() {
            adminAccount.style.display = 'none';
            adminOffer.style.display = 'flex';
            adminTransaction.style.display = 'none';
        }
        /**
         * Set the display of adminTransaction to 'flex' and the others to 'none'
         */
        function showTransactions() {
            adminAccount.style.display = 'none';
            adminOffer.style.display = 'none';
            adminTransaction.style.display = 'flex';
        }

        // Add event listeners to the buttons
        userButton.addEventListener('click', showAccounts);
        offerButton.addEventListener('click', showOffers);
        transactionButton.addEventListener('click', showTransactions);
    })
</script>