<!--
the admin must see all the offers, account, message, transaction
the admin can delete, edit, create offer, account, message
-->
<section class="account-main">
    <h1 class="admin-panel-title">Panneau d'administration</h1>
    <div class="admin-panel-container">
        <a href="/admin/users" class="admin-panel-link">Gérer les utilisateurs</a>
        <a href="/admin/offers" class="admin-panel-link">Gérer les offres</a>
        <a href="/admin/transactions" class="admin-panel-link">Gérer les transactions</a>
    </div>
    <div class="account-offer">
        <!-- ligne titre -->
        <section class = "tittle-offer-section">
            <h2 class="section-title-offer">Mes offres</h2>

            <h2 class="section-title-bought">Offre acheté</h2>
        </section>
</section>