<div class="offer-header">
    <a href="/account/see?email={owner}"><img class="offer-avatar" src="/_assets/images/profil_picture/{profile_picture}" alt="Avatar"></a>
    <span class="offer-author"><a href="/account/see?email={owner}">{username}</a></span>
</header>
<h3 class="offer-title">{title}</h3>
<p class="offer-description">{description}</p>
<span class="offer-date">Date limite: {deadline}</span>
<footer class="offer-footer">
    <span class="offer-price">{price}<br>DT₡</span>
    {button}
</footer>