<!--<input class="research-bar" type="text" placeholder="Rechercher..." />-->
<div class="search-container">
    <div class="search-wrapper">
        <form class="search-wrapper" action="/marketplace" method="GET">
            <!--        <span class="search-icon">🔍</span>&ndash;&gt;-->
            <input type="text" name='search-string' class="search-box" placeholder="Rechercher...">
        </form>
        <button class="sort-button" onclick="toggleDropdown()">
            Trier ▼
        </button>
        <div class="sort-menu" id="sortDropdown">
            <div class="sort-option"><a href="/marketplace?sort=date">Plus récent</a></div>
            <div class="sort-option"> <a href="/marketplace?sort=price-asc">Moins cher</a> </div>
            <div class="sort-option"><a href="/marketplace?sort=price-desc">Plus cher</a> </div>
            <div class="sort-option" ><a href="/marketplace?sort=alphabetic" >Alphabétique</a> </div>
        </div>
    </div>
</div>
<!--TODO: do some code cleaning and move <script> in a JS file-->
<script>
    function toggleDropdown() {
        // // take the elements
        // var dropdown = document.getElementById('sortDropdown');
        // // activate the dropdown menu
        // dropdown.classList.toggle('active');
        document.getElementById('sortDropdown').classList.toggle('active');

    }

    // Close dropdown when clicking outside
    document.addEventListener('click', function(e) {
        const dropdown = document.getElementById('sortDropdown');
        const sortButton = document.querySelector('.sort-button');

        if (!sortButton.contains(e.target) && !dropdown.contains(e.target)) {
            dropdown.classList.remove('active');
        }
    });
</script>

{OFFERS}
