<!--<input class="research-bar" type="text" placeholder="Rechercher..." />-->
<a class="search-container">
    <a class="search-wrapper">
<!--        <span class="search-icon">🔍</span>-->
        <input type="text" class="search-box" placeholder="Rechercher...">
        <button class="sort-button" onclick="toggleDropdown()">
            Trier ▼
        </button>
        <div class="sort-menu" id="sortDropdown">
            <a href="/marketplace?sort=date" class="sort-option">Plus récent</a>
            <a href="/marketplace?sort=price-asc" class="sort-option">Moins cher</a>
            <a href="/marketplace?sort=price-desc" class="sort-option">Plus cher</a>
            <a href="/marketplace?sort=alphabetic" class="sort-option">Alphabétique</a>
        </div>
    </div>
</div>
<!--TODO: do some code cleaning and move <script> in a JS file-->
<script>
    function toggleDropdown() {
        // // take the elements
        // var dropdown = document.getElementById('sortDropdown');
        // // activate the dropdown menu
        // dropdown.classList.toggle('active');
        document.getElementById('sortDropdown').classList.toggle('active');

    }

    // Close dropdown when clicking outside
    document.addEventListener('click', function(e) {
        const dropdown = document.getElementById('sortDropdown');
        const sortButton = document.querySelector('.sort-button');

        if (!sortButton.contains(e.target) && !dropdown.contains(e.target)) {
            dropdown.classList.remove('active');
        }
    });
</script>

{OFFERS}
