<main class="trade-subject-point-container">
    <h2 class="text-theme">Échanger des points entre matières</h2>
    {FLASH}
    <form action="" method="post" class="trade-subject-point-form">
        <input class="hiddenInput" type="hidden" name="form_type" value="points_transfer">
        <section class="form-group">
            <label class="text-theme" for="from_subject">Matière source</label>
            <select name="from_subject" id="from_subject" required>
                <option value="">Veuillez sélectionner une matière</option>
                {FROM_OPTIONS}
            </select>
        </section>

        <section class="form-group">
            <label class="text-theme" for="to_subject">Matière destination</label>
            <select name="to_subject" id="to_subject" required>
                <option value="">Veuillez sélectionner une matière</option>
                {TO_OPTIONS}
            </select>
        </section>

        <section class="form-group">
            <label class="text-theme" for="points">Nombre de points à transférer</label>
            <input type="number" name="points" id="points" min="0.01" max="20" step="0.01" placeholder="1" required>
        </section>

        <section class="form-actions">
            <button type="submit" class="btn-submit">Échanger les points</button>
        </section>
    </form>

    <section class="info-message">
        <p class="text-theme"><strong class="text-theme">Note:</strong> Assurez-vous d'avoir suffisamment de points dans la matière source avant d'effectuer le transfert. <br></p>
        <p class="text-theme">Si vos matières n'apparaissent pas, veuillez les importer.</p>
    </section>
    <br>
    <br>
    <form class="formIcs" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="form_type" value="ics_import">

        <label class="text-theme">Importer vos matières (.ics)</label>
        <br>
        <input type="file" name="ics_file" accept=".ics" required>
        <br>
        <button type="submit">Importer</button>
    </form>

</main>
