@font-face {
    font-family: ShareTechMono;
    src: url(/_assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf);
}

body {
    background-image: url("/_assets/images/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: ShareTechMono, monospace;
    margin: 0;
    padding: 0;
}
