<main class="offer-card" id="seen-offer-card">
    <header class="offer-header">
        <img class="offer-avatar" src="/_assets/images/account_pp.webp" alt="Avatar">
        <span class="offer-author">{username}</span>
    </header>
    <h3 class="offer-title">{title}</h3>
    <p class="offer-description">{description}</p>
    <span class="offer-date">Date limite: {deadline}</span>
    <footer class="offer-footer">
        <span class="offer-price">{price}<br>pts</span>
        {button-offer}
    </footer>
</main>