<img class="logo-main" src="/_assets/images/logo.webp" alt="Logo DealTonBUT">

<main class="container-form">
  <form action="{ACTION_KEY}" method="post" onsubmit="return validatePassword()">
    <p>Entrez le mot de passe pour {EMAIL}</p>
    <label for="{PASSWORD_KEY}">Mot de passe:</label><br>
    <input type="password" name="{PASSWORD_KEY}" id="password" required class="input-class"><br>
    <ul id="password-rules" class="password-rules">
      <li id="rule-length">❌ Au moins 12 caractères</li>
      <li id="rule-upper">❌ Au moins 1 majuscule</li>
      <li id="rule-number">❌ Au moins 1 chiffre</li>
      <li id="rule-special">❌ Au moins 1 caractère spécial</li>
    </ul>
    <input type="submit" value="S'inscrire" class="btn-inscription">
  </form>
  <p>{ERROR_MESSAGE}</p>
</main>

<script src="/_assets/scripts/PasswordVerification.js"></script>
