<div id="toast-notification" class="toast-container">
    {FLASH}
</div>
<section class="account-main">
    <div class="user-data">
        <div class="user-profile">
            <form action="/user/update-PDP" method="POST" enctype="multipart/form-data" id="photo-form">
                <label for="file-input" class="profil-picture">
                    <img src="/_assets/images/profil_picture/{CURRENT_PHOTO}" id="preview" alt="Photo de profil">
                </label>
                <input type="file" name="profile_picture" id="file-input" accept="image/*" style="display:none">
            </form>

            <div class="user-name">
                <p class="account-bigger-text"><strong>{USERNAME}</strong></p>
                <p>{NAME}</p>
            </div>
        </div>

        <div class="user-component">
            <p class="account-bigger-text"><strong>{USERBALANCE} DT₡</strong></p>
            <p><a href="/trade/points">Besoins de DT₡?</a></p>
            <p>{EMAIL}</p>
        </div>
    </div>
    <div class="account-offer">
        <section class="tittle-offer-section">
            <h2 class="section-title-offer">Mes offres</h2>
            <h2 class="section-title-bought">Offre acheté</h2>
        </section>

        <section class="offer-section">
            <section class="user-offer-section">
                {USEROFFERS}
            </section>
            <section class="user-bought-offer-section">
                {USERBOUGHTOFFERS}
            </section>
        </section>
        </main>
    </div>
</section>
<script src="/_assets/scripts/AccountPage.js"> </script>
