<main class="account-main">
    <section class="user-data">
        <article class="user-profile">
            <img class="user-pp" src="/_assets/images/account_pp.webp" alt="Profile Picture">
            <article class="user-name">
                <p class="account-bigger-text"><strong>{USERNAME}</strong></p>
                <p>{NAME}</p>
            </article>
        </article>
        <article class="user-component">
            <p class="account-bigger-text"><strong>{USERBALANCE} DT₡</strong></p>
            <p><a href="/trade/points">Besoins de DT₡?</a></p>
            <p>{EMAIL}</p>
        </article>
    </section>

    <section class="account-offer">
        <!-- ligne titre -->
        <section class = "tittle-offer-section">
            <h2 class="section-title-offer">Mes offres</h2>

            <h2 class="section-title-bought">Offre acheté</h2>
        </section>

        <!-- ligne affichage offre -->
        <section class="offer-section">
            <section class="user-offer-section">
                {USEROFFERS}
            </section>
            <section class="user-bought-offer-section">
                {USERBOUGHTOFFERS}
            </section>
        </section>
    </section>
    </main>

<script src="/_assets/scripts/AccountPage.js"> </script>