<section>
    <div>
        <img class="user-pp" src="/_assets/images/account_pp.webp" alt="Profile Picture">
        <p>Pseudo</p>
        <p>Nom Prenom</p>
        <p>E-mail</p>
        <p>0.00 DTC</p>
    </div>
    <div>
        <section>
            <p>Mes Offres</p>
            <section>
                <!-- Mettre l'implémentation des offres avec <article>-->
            </section>
        </section>
        <section>
            <p>Offres Acheté</p>
            <section>
                <!-- Mettre l'implémentation des offres avec <article>-->
            </section>
        </section>
    </div>
</section>