<section class="account-main">
    <div class="user-data">
        <div class="user-profile">
            <img class="user-pp" src="/_assets/images/account_pp.webp" alt="Profile Picture">
            <div class="user-name">
                <p class="account-bigger-text"><strong>Pseudo</strong></p>
                <p>Nom Prenom</p>
            </div>
        </div>
        <div class="user-component">
            <p class="account-bigger-text"><strong>0.00 DTC</strong></p>
            <p>E-mail</p>
        </div>
    </div>
    <div class="account-offer">
        <section class="user-offer">
            <p>Mes Offres</p>
            <section>
                <!-- Mettre l'implémentation des offres avec <article>-->
            </section>
        </section>
        <section class="user-bought-offer">
            <p>Offres Acheté</p>
            <section>
                <!-- Mett   re l'implémentation des offres avec <article>-->
            </section>
        </section>
    </div>
</section>