<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DealTonBUT - Oublie MDP</title>
</head>
<body>
    <!-- vous gerez l'interface, je fais le stricte minimum -->
    <p>Note: cette page va être intégré dans la page de login.</p><br>
    <form action="/user/forgot" method="post">
        <label for="{EMAIL_KEY}">Email du compte: </label>
        <input type="email" name="{EMAIL_KEY}" required><br>
        <input type="submit" value="Oublier">
    </form>
</body>
</html>