<img class="logo-main" src="/_assets/images/logo.webp">
<form action="{ACTION_KEY}" method="post" class="container-form">
    <label for="{EMAIL_KEY}">Email:</label>
    <input type="email" name="{EMAIL_KEY}" required class="input-class"><br>
    <label for="{PASSWORD_KEY}">Mot de passe:</label>
    <input type="password" name="{PASSWORD_KEY}" required class="input-class"><br>
    <p class="oublier"><a>Mot de passe oublier ?</a></p>
    <input type="submit" value="Se connecter" class="btn-inscription">
</form>