x<img class="logo-main" src="/_assets/images/logoMain.webp">
<section class="hero-card">
    <h1 class="hero-title">
        Transforme tes notes en monnaie.
    </h1>
    <p class="hero-subtitle">
        La place de marché exclusive des étudiants d'Aix-en-Provence.
    </p>
    <ul class="key-points-list">
        <li>
            <img class="list-icon" src="/_assets/images/icon_tradePointDipl.png">
            <span>Échange des points avec d'autres élèves.</span>
        </li>
        <li>
            <img class="list-icon" src="/_assets/images/diplome-student.png">
            <span>Reçoit de l'aide pour obtenir ton diplôme !</span>
        </li>
        <li class="prof-point-container">
            <span class="prof-point">Les élèves et les professeurs participent !</span>
        </li>
    </ul>
    <div class="actions-container">
        <a href='{REGISTER_LINK}' class="btn btn-primary">S'inscrire</a>
        <a href='{LOGIN_LINK}' class="btn btn-secondary">Se Connecter</a>
    </div>
</section>