<img class="logo-main" src="/_assets/images/logo.webp">
<section class="description-text"> <!-- section pour faire un carré blanc et tout, vous gérez -->
    <p>  <!-- mettre ce texte centré -->
        <h1>Bienvenue sur DealTonBut</h1><br>
        DealTonCoin est une plateforme de marché interne dédiée exclusivement aux étudiants d’Aix-en-Provence.
Sur ce site, tu peux échanger des “points” que tu gagnes grâce à tes notes — appelés DealTonCoin — contre diverses offres et services proposés par d’autres étudiants ou professeurs.
Ces services peuvent aller de l’aide sur un devoir à des défis amusants, comme faire une danse pendant une présentation orale.
💡 Rejoins le programme dès maintenant et découvre une nouvelle façon d’échanger tes compétences et ton mérite !
    </p>
</section>
<div class="btn-container">
    <a href='{REGISTER_LINK}' class="btn-register">S'inscrire</a>
    <a href='{LOGIN_LINK}' class="btn-login">Se Connecter</a>
</div>
