<img class="logo-main" src="/_assets/images/logo.webp">
<section class="description-text"> <!-- section pour faire un carré blanc et tout, vous gérez -->
    <p>  <!-- mettre ce texte centré -->
        <h1>Bienvenue sur DealTonBut</h1><br>
        C’est un site de place de marché fait exclusivement pour les élèves du BUT -Informatique d’Aix-en-Provence.
        Sur ce site, tu peux y échanger tes “points” gagné grace vos notes en cours. ces “points” appellé DealTonCoin peuvent être depenser dans des offres qui sont des services effectuer par des élèves ou des professeurs (faire un devoir a votre place, faire une dance pendant une presentation oral, ...)
        Rejoignez le programme des maintenant !
    </p>
</section>
<div class="btn-container">
    <a href='{REGISTER_LINK}' class="btn-register">S'inscrire</a>
    <a href='{LOGIN_LINK}' class="btn-login">Se Connecter</a>
</div>
